{% extends "_layout.njk" %}

{% block content %}
  <div class='uk-flex uk-flex-middle uk-flex-column'>
  <h1>404</h1>
  <p class='uk-text-large uk-text-bolder uk-margin-remove-top'>Страница не найдена</p>
  <a href='/'> вернуться на главную </a>
  </div>
{% endblock %}
